.app {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.globe,
.calendar {
  width: 100%;
  position: absolute;
  left: 0;
}
.globe {
  height: 75vh;
  bottom: 5vh;
}
.calendar {
  width: 80%;
  left: 10%;
  height: 10vh;
  top: 5vh;
}
.calendar:after {
  content: "";
  display: table;
  clear: both;
}
.mo {
  width: 8.33333333%;
  box-sizing: border-box;
  text-align: center;
  float: left;
  font-weight: bold;
  font-size: 2rem;
  height: 10vh;
  line-height: 10vh;
}
.marker {
  position: absolute;
  width: 5%;
  height: 10px;
  background: white;
  left: 0;
  bottom: 0;
  margin-left: 1.8%;
}
